# HTID:20753645: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:20753645:

# Disable Directory Browsing
Options All -Indexes

ErrorDocument 403 /forbidden.html
ErrorDocument 404 /notfound.html

php_flag output_buffering on